/viikko1/NhlStatistics1/.nb-gradle/
**/build
**/.gradle
/viikko2/Verkkokauppa1/.nb-gradle/
/viikko3/nhlreader/.nb-gradle/
/viikko3/HelloCucumber/.nb-gradle/
/viikko3/LoginCucumber/.nb-gradle/
/viikko3/WebLogin/.nb-gradle/
/viikko4/MockitoDemo/.nb-gradle/
/viikko4/MaksukorttiMockito/.nb-gradle/